<!-- Partial for deploying the images -->
<div class="image-box">
  <div class="image-content">
    <!-- The image_tag helper allows us to insert the HTML for an image -->
    <%= image_tag image.cover.url(:thumb) %>
    <h2><%= image.name %></h2>
  </div>
</div>
